# Archivos de configuración locales
*.env

# Directorio de entorno virtual
venv/

# Archivos de base de datos
*.sqlite3
*.db

# Archivos generados por IDEs o editores de texto
.vscode/
.idea/

# Archivos de migraciones de Django
**/migrations/

# Archivos estáticos y archivos generados automáticamente
media/

# Archivos de registro y carpetas
logs/
*.log

# Archivos de caché
__pycache__/
*.pyc

# Archivos de configuración de servidor
.env

# Archivos de dependencias (pueden variar según tu entorno)
pip-*.log
requirements.txt
