{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Bajar Imagenes</h1>
    <p>
        Puedes bajar estas bonitas imágenes navideñas dando click derecho del ratón y escoger la opción 
        <b>Guardar imagen como</b>
    </p>
    <p>

    </p>
    <div class="row " style="text-align:center">
        <div class="col-md-12 " >
           <img src="https://www.navidad.com/navidad/b_imagenes/1.jpg"/>
        
            <img src="https://www.navidad.com/navidad/b_imagenes/2.jpg"/>
        
            <img src="https://www.navidad.com/navidad/b_imagenes/3.jpg"/>
        
            <img src="https://www.navidad.com/navidad/b_imagenes/4.jpg"/>
        </div>
        <div class="col-md-12">
            <img src="https://www.navidad.com/navidad/b_imagenes/5.jpg"/>
          
            <img src="https://www.navidad.com/navidad/b_imagenes/6.jpg"/>
          
            <img src="https://www.navidad.com/navidad/b_imagenes/7.jpg"/>
          
            <img src="https://www.navidad.com/navidad/b_imagenes/8.jpg"/>
        </div>
        <div class="col-md-12">
            <img src="https://www.navidad.com/navidad/b_imagenes/9.jpg"/>
          
            <img src="https://www.navidad.com/navidad/b_imagenes/10.jpg"/>
        </div>
        
    </div>
    <p><b>Se parte de este nuevo sitio navideño</b></p>
    <p> Deseamos que estas imágenes sean de tu agrado. Si tienes algún 
        comentario o sugerencia, o si tienes alguna imagen que quieras 
        compartir,  no dejes de enviarnos esa imagen mediante un 
        mensaje de correo electrónico a:</p>
    <p>info@navidad.com</p>
  </div>
</div>
{% endblock contenido %}
