{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Decoración</h1><br>
    <div class="row">
      <div class="col villancicos">
        <img
          src="https://www.navidad.com/images/decoracion/decora.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Decoración</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/decoracion/corona-nav.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Exterior</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/decoracion/interior.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Interior</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/decoracion/esferas.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Paredes, techos y lámparas</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/decoracion/mesanavidena.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Presentación de la Mesa</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img
          src="https://www.navidad.com/images/decoracion/nacimiento.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Nacimiento</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/decoracion/arbolito.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Árbol</p>
      </div>
      <div id="volver" class="volver">
        <a class="btn-volver" type="button" href="/">Volver</a>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
