{% extends "./plantilla.html" %} {% block contenido %}

<main style="background-color: #720809">
  <div style="width: 93%; margin: 0 auto" class="carousel-container">
    <div class="imagen position-relative carousel-slide">
      <img src="https://navidad.com/images2017/fondo_slider_1.jpg" alt="" />
      <div class="position-absolute" style="left: 4rem; top: 4rem">
        <img
          src="https://navidad.com/images2017/navidad.png"
          alt=""
          width="300"
        />
      </div>
      <div class="position-absolute santa" style="top: 25%; left: -35%">
        <img src="https://navidad.com/images2017/santa_volando.png" alt="" />
      </div>
    </div>
    <div class="imagen position-relative carousel-slide">
      <img src="https://navidad.com/img/fondo_slider_2.png" alt="" />
      <div class="position-absolute" style="left: 4rem; top: 4rem">
        <img
          src="https://navidad.com/images2017/navidad.png"
          alt=""
          width="300"
        />
      </div>
      <div class="position-absolute" style="left: 10%; top: 25%">
        <img
          src="https://navidad.com/images2017/slider2.png"
          alt=""
          class="animate__animated animate__bounceInLeft"
        />
      </div>
    </div>
    <div class="imagen position-relative carousel-slide">
      <img src="https://navidad.com/images2017/fondo_slider_4.2.jpg" alt="" />
      <div class="position-absolute" style="left: 4rem; top: 4rem">
        <img
          src="https://navidad.com/images2017/navidad.png"
          alt=""
          width="300"
        />
      </div>
      <div class="position-absolute start-50 translate-middle" style="top: 25%">
        <img
          src="https://navidad.com/images2017/santa-volando-azul.png"
          alt=""
          class="animate__animated animate__slideOutRight animate__delay-2s animate__slow animate__infinite"
        />
      </div>
      <div class="position-absolute bottom-0" style="left: 0; right: 0">
        <img
          src="https://navidad.com/images2017/nieve.png"
          class="w-100 animate__animated animate__slideInUp"
          alt=""
        />
      </div>
      <div class="position-absolute bottom-0" style="left: 30%">
        <img
          src="https://navidad.com/images2017/mono_nieve_slider.png"
          alt=""
          class="animate__animated animate__bounceInDown animate__delay-1s"
        />
      </div>
    </div>
  </div>

  <div class="container-menu">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <img src="https://navidad.com/images2017/duende.png" alt="" />
        </div>
        <div class="col-2">
          <img src="https://navidad.com/images2017/mono_de_nieve.png" alt="" />
        </div>
        <div class="col-4 menu-bg">
          <h1>Menu</h1>
        </div>
        <div class="col-2">
          <img src="https://navidad.com/images2017/reno.png" alt="" />
        </div>
        <div class="col-2">
          <img src="https://navidad.com/images2017/pinguino.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="container-contacto bg-light w-100">
    <div class="container">
      <div class="row">
        <div
          class="col-3 contacto1 d-flex justify-content-end align-items-center"
        >
          <a href="">Enviar Carta</a>
        </div>
        <div
          class="col-3 contacto2 d-flex justify-content-center align-items-center"
        >
          <a href="">Entrar al chat</a>
        </div>
        <div
          class="col-3 contacto3 d-flex justify-content-center align-items-center"
        >
          <a href="">Accesa Email</a>
          <a href="">Registrate</a>
        </div>
        <div class="col-3 contacto4"></div>
      </div>
    </div>
  </div>

  <div class="container-regalos">
    <div class="container">
      <div
        class="row pt-4 animate__animated animate__backInUp animate__delay-1s"
      >
        <div class="col regalo">
          <img
            src="https://navidad.com/images2017/Historia_de_la_Navidad.png"
            alt=""
          />
          <p>Historia de la Navidad</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/cuentos.png" alt="" />
          <p>Cuentos</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/villancicos.png" alt="" />
          <p>Villancicos</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/cocina.png" alt="" />
          <p>Cocina</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/actividades.png" alt="" />
          <p>Actividades</p>
        </div>
      </div>
      <div
        class="row pt-4 animate__animated animate__backInUp animate__delay-2s"
      >
        <div class="col regalo">
          <img src="https://navidad.com/images2017/regalos.png" alt="" />
          <p>Regalos</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/decoracion.png" alt="" />
          <p>Decoracion</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/juegos.png" alt="" />
          <p>JUegos</p>
        </div>
        <div class="col regalo">
          <img
            src="https://navidad.com/images2017/salva_pantallas.png"
            alt=""
          />
          <p>Salva Pantallas</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/postales.png" alt="" />
          <p>Postales</p>
        </div>
      </div>
      <div
        class="row pt-4 animate__animated animate__backInUp animate__delay-3s"
      >
        <div class="col regalo">
          <img
            src="https://navidad.com/images2017/navidad_en_el_mundo.png"
            alt=""
          />
          <p>Navidad en el mundo</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/carta_a_santa.png" alt="" />
          <p>Carta a Santa</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/bajar_imagenes.png" alt="" />
          <p>Bajar Imagenes</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/otros_idiomas.png" alt="" />
          <p>Otros Idiomas</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/manualidades.png" alt="" />
          <p>Manualidades</p>
        </div>
      </div>
      <div
        class="row pt-4 animate__animated animate__backInUp animate__delay-4s"
      >
        <div class="col"></div>
        <div class="col regalo">
          <img
            src="https://navidad.com/images2017/cine_y_peliculas.png"
            alt=""
          />
          <p>Cine y Peliculas</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/moda_navidena.png" alt="" />
          <p>Moda Navidenia</p>
        </div>
        <div class="col regalo">
          <img src="https://navidad.com/images2017/ciudad.png" alt="" />
          <p>Ciudades</p>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>

  <div class="container-nieve">
    <div class="container">
      <h1 class="text-center mt-5 titulo mb-5">
        Se Parte de ESte Nuevo Sitio Navideño
      </h1>
      <p>
        Si deseas, puedes escribirnos un correo para decirnos que juguetes te
        trajo Santa así como los juguetes que te gustaría recibir esta navidad,
        no olvides decirnos tu edad. Mándanos un correo electrónico a:
        info@navidad.com
      </p>
    </div>
  </div>
</main>
{% endblock contenido %}
