{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Juegos</h1><br>
    <div class="row">
      <div class="col villancicos">
        <img
          src="https://www.navidad.com/images/juegos/santapatinando.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Santa Patinador</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/dondevas.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Dónde vas Nicolás?</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/decoraelarbol.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Decora el árbol</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/saltasanta.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Salta Santa</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/turbo-santa.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Turbo Santa</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/pintasanta.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Colorea a Santa</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/santasride.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Santas Ride</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/supersantakicker.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">supersantakicker</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/santarushrush.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Santa Rush Rush</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/juegos/santasgifts.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Santas Gifts</p>
      </div>
      <div id="volver" class="volver">
        <a class="btn-volver" type="button" href="/">Volver</a>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
