{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Navidad en el Mundo</h1>
    <div class="row">
      <div class="col villancicos">
        <img
          src="https://navidad.com/images2017/navidad_en_el_mundo.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Navidad en el Mundo</p>
      </div>
      <div class="col">
        <img
          src="https://navidad.com/images/mejores-arboles.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Los Mejores <br>Arboles  Navideños del mundo</p>
      </div>
      
      <div class="col">
        <img
          src="https://navidad.com/images2017/ciudad.png"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Ciudades</p>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
