{% extends "./plantilla.html" %} {% block contenido %}
<div class="quienes-container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
  >
    <h1 class="subtitulos">Rejalos</h1>
    <br>
    <div class="row">
      <div class="col villancicos">
        <img
          src="https://www.navidad.com/images/bebe0a6.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Bebés de 0 a 6 Meses</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/bebes207a12.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Bebés de 7 a 12 Meses</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/ninos1318.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Bebés de 13 a 18 Meses</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/bebes2018a24.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Peques de 19 a 24 Meses</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/bebes202a3.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Peques de 2 a 3 Años</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img
          src="https://www.navidad.com/images/bebes203a5.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Peques de 3 a 5 Años</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/ninos206a8.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Peques de 6 a 8 años</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/ninos911.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">Peques de 9 a 11 Años</p>
      </div>
      <div class="col">
        <img
          src="https://www.navidad.com/images/elmejorregalos.jpg"
          alt=""
          class="img-villancicos"
        />
        <p class="titulo-villancicos">El Mejor Regalo</p>
      </div>
      <div id="volver" class="volver">
        <a class="btn-volver" type="button" href="/">Volver</a>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
